body {
  background: url(./knowledgeBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Berkshire Swash', Arial, Helvetica, sans-serif;

}

/* the centered area where questions and login stuff are */
.oldParchment {
  background: url(./old-brown-paper-texture-image.jpg) no-repeat;
  background-size: 100% 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #2b2b2b;
}

/* the form in the beginning the user inputs their username */
#usernameForm {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

/* navbar at the top of the page */
#navbar {
  background: rgba(178,34,34, 0.5);
  color: white;
}

.navbarElement {
  padding-left: 5%;
  padding-right: 5%;
}

/* form of radios */
.answer {
  padding-top: 1%;
  text-align: center;
  font-size: larger;
}

/* all the buttons */
.btn {
  margin: 2%;
  background-color: firebrick;
  border: floralwhite;
  font-size: large;
}

.btn:hover{
  background-color: indianred;
}